*{
    scroll-behavior: auto;
}
body{
    margin:0;
    padding:0;
    background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
    /* background-image: linear-gradient(to right bottom, #051937, #3b225a, #7d1867, #be0059, #eb1232); */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    background-color: rgb(200, 237, 16);
    color:rgb(213, 9, 9);
}
.header a{
    text-decoration: none;
    color:rgb(243, 1, 3);
    text-shadow: 4px 3px 3px rgb(0, 0, 0);
}
.heading{
    display: block;
    font-size: 35px;
    padding:10px 30px;
    font-size: 45px;
    font-weight: bold;
}
.searchBox{
    margin: 10px auto;
    text-align: center;
    
}
.searchBox input{
    height:28px;
    width:25%;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    border:1px solid black;
    /* background-color: rgb(243, 238, 238); */
    border: 1.5px solid black;
    outline: none;
    background-image: linear-gradient(to top, #12af1c 0%,white 50%, #ffb199 100%);
}
.searchBox button{
    background-color: black;
    color:white;
    height:30px;
    border: none;
    width:80px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;


}
.sortBtn{
    display: flex;
    justify-content: center;
    gap:10px;
}
.sortBtn button{
    height:30px;
    padding:5px 15px;
    background-color: rgb(165, 8, 8);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;

}
.tabBtn{
    width:80%;
    margin:10px auto;
    display: flex;
    justify-content: flex-start;
    gap:10px;

}
.tabBtn button{
    
    border:none;
    font-size: 15px;
    cursor: pointer;
    height:30px;
    padding:5px 15px;
    border-radius: 10px;
    width:100px;
    
   
}
.selector{
    background-color: rgb(244, 44, 44);
    color: rgb(2, 0, 0);
    border: 2px solid white;
}
.movieSection{
    width:85%;
    margin: auto;
    /*outline:1px solid red;*/
    display: flex;
    gap:14px;
    flex-wrap: wrap;
   
    justify-content: center;
}
.line{
    border: 1px solid black;
     width: 82%; 
     margin: 5px auto ;
}
.movieCrd{
    margin-top: 10px;
    height: 320px;
    width:200px;
    box-shadow: -4px 6px  6px rgb(97, 96, 96);
   /* border:2px solid grey;*/
   /* background-color: white; */
    border-radius: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(to top, #75d251 0%, #f1f109 100%);
    padding:8px;
    position: relative;
    cursor: pointer;
    
    
}
.bold{
    font-weight: 550;
}
.movieCrd:hover{
 
  box-shadow: 7px 7px 7px rgb(238, 140, 36);
  transition: 0.5s;
  .movieImage{
    transform: scale(1.05);
    transition: 0.5s;
   
}
  
 
}
.movieImage{
    height:200px;
    width:100%;
   
    
}

.movieImage img{
    height:100%;
    width:100%;
    border-radius: 10px;
}

.movieName{
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    margin-top: 6px;
    width: 100%;
    overflow-wrap: break-word;
   
    color: darkblue;
}
.rating{
    width: 90%;
    position: absolute;
   
    display: flex;
   
    justify-content: space-around;
    align-items: center;
    
    
    bottom: 15px;
}
.vote{
    font-size: 18px;
    font-weight: 540;
    color: red;
}

.heart{
    font-size: 35px;
     color: red;
    margin-top: 4px;
    cursor: pointer;
}
.footer{
    border: 3px solid rgb(13, 1, 1);
    margin-top: 10px;
    text-align: center;
    background-image: linear-gradient(to right, #0b6e2c 0%, #c61515 100%);
    color: rgb(255, 255, 255);
    font-size: 25px;
    height:35px;
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pagingBtn{
    margin-top: 10px;
    display: flex;
    /* align-items: ; */
    justify-content: center;

}
.pagingBtn button{
    border:none;
    font-size: 15px;
    cursor: pointer;
    height:30px;
    padding:5px 10px;
    border-radius: 20px;
    width:100px;
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    color: white;

}
.buttonMidText{
    margin:5px 10px;
}
@media screen and (max-width: 600px) {
    .heading{
        display: block;
        font-size: 25px;
        padding:10px 20px;
    }
    .header a{
        text-decoration: none;
        color:yellow;
        text-shadow: 1px 1px red;
    }
    .searchBar input{
        height:25px;
        width:50%;
        border-radius: 20px;
        font-size: 15px;
        font-weight: 400;
        padding-left: 10px;
        border:1px solid black;
        
    }
    .searchBar button{
        background-color: black;
        color:white;
        height:25px;
        border: none;
        width:60px;
        border-radius: 30px;
        font-size: 14px;
        cursor: pointer;
    
    
    }
    .sortBtn{
        display: flex;
        justify-content: center;
        gap:5px;
        flex-direction: column;
        width: 220px;
        align-items: center;
        margin: auto;
    }
    .sortBtn button{
        height:25px;
        padding:5px 10px;
        background-color: black;
        color: rgb(235, 229, 229);
        border: none;
        border-radius: 30px;
        font-size: 12px;
        cursor: pointer;
    
    }
   
    .tabBtn{
        width:90%;
        margin:10px auto;
        display: flex;
        justify-content: flex-start;
        gap:10px;
    
    }
    .tabBtn button{
    
        border:none;
        font-size: 12px;
        cursor: pointer;
        height:25px;
        padding:5px 10px;
        border-radius: 10px;
        width:70px;
    }
    .movieSection{
        width:90%;
        margin: auto;
       
        display: flex;
        justify-content: center;
    }
    .line{
        border: 1px solid black;
         width: 90%; 
         margin: auto;
    }
    
}


.heart:hover{
    color: #12af1c;
    border-bottom: 1.5px solid red ;
}