body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1e1e1e;
    border: 5px solid #fff; /* White border */
    transition: border 0.5s ease; /* Smooth transition for the border */
}

.calculator {
    border: 4px solid transparent;
    border-radius: 50px;
    animation: gradient-border 3s ease-in-out infinite;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    max-width: 300px;
    padding: 20px;
}

@keyframes gradient-border {
    0% {
      border-image: linear-gradient(to right, #f6b73c, #4d9f0c) 1;
    }
  
    50% {
      border-image: linear-gradient(to right, #00d7b9, #b95dd7) 1;
    }
  
    100% {
      border-image: linear-gradient(to right, #ffb367, #6fba82) 1;
    }
  }

.display {
    grid-column: span 4;
    background-color: #868688;
    color:black;
    text-align: right;
    padding: 8px;
    font-weight: bold;
    font-size: 38px;
    border: 2px solid #e2e2ff; /* Neon green border */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8); /* Neon green shadow */
    transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition for background and text color */
}

.btn {
   align-items: center;
    background-color: #d30c0c;
    color: #fff;
    font-size: 22px;
    padding: 20px;
    cursor: pointer;
    border: none;
    border-radius: 45px;
   position: relative;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for background, text color, transform, and box shadow */
}

.btn:hover {
    background-color: #efe4e4;
    color:black ;
}







.theme-btn {
    background-color: transparent;
    color: #fff;
    padding: 5px;
    margin-bottom: 5px;
    border: transparent; /* Dark border */
    border-radius: 43%;
    cursor: pointer;
    outline: none;
    font-size: 2em;
   
}


